html,
body { height: 100%; }

/* Sticker footer */
body {
  display: table;
  width: 100%;
  background-color: #f6f6f6;
}

.page-row {
  display: table-row;
  height: 1px;
}

.page-row-expanded { height: 100%; }


/* Fix nav hover for icons */
nav {
  overflow: hidden;
}


.collapsible > li.active .collapsible-header {
  border-bottom: none;
}


/* Helpers */
.thin {
    font-weight: 300;
}

.bold {
  font-weight: 700;
}

.clicky {
  cursor: pointer;
}


/* Custom preloader */
.card-panel.card-loading {
  position: relative;
}

.card-panel.card-loading > .progress {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0px;
}


/* Content animation */
.content {
  height: 0;
  opacity: 0;
  transition: opacity 0.5s linear;
  overflow: hidden;
}

.content.fade-in {
  opacity: 1;
  height: auto;
}


.role-header {
  margin-bottom: 0;
}

.role-item {
  cursor: pointer;
  color: #2196F3 !important;
  font-size: 1.2rem;
}

.autocomplete-fix {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


/* Input focus color fix */
.input-field input:focus+label {
  color: #F44336 !important;
}
.input-field input:focus,.input-field input.valid {
  border-bottom: 1px solid #F44336 !important;
  -webkit-box-shadow: 0 1px 0 0 #F44336 !important;
  -moz-box-shadow: 0 1px 0 0 #F44336 !important;
  box-shadow: 0 1px 0 0 #F44336 !important;
}
.input-field .prefix.active {
  color: #F44336 !important;
}
