<footer class="page-footer red darken-1 page-row">
  <div class="container">
    <div class="row">
      <div class="col l8 s8">
        <h5 class="white-text">{{config.APP_TITLE}}</h5>
        <p class="white-text text-lighten-4">This is an example footer</p>
      </div>
      <div class="col l4 offset-12 s4">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a href="#!" class="grey-text text-lighten-3">About</a></li>
          <li><a href="#!" class="grey-text text-lighten-3">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright red darken-3">
    <div class="container">© 2015 {{config.APP_TITLE}}<a href="" class="grey-text text-lighten-3 right"></a></div>
  </div>
</footer>
